.note-component {

  .text-editor {
    padding: 20px;
    max-width: 750px;
    margin: 0 auto;
    font-size: 18px;

    .editor {
      border: 1px solid #ccc;
      cursor: text;
      padding: 20px 25px;
      letter-spacing: 0.4px;

      .focus-end {
        height: 250px;
        width: 100%;
      }
    }
  }
}
