.note-component {

  .DraftEditor-root {
    width: 80%;
    display: block;
    background: #eee;
    margin: 0 auto;
    min-height: 500px;
    border: 1px solid #ddd;
    padding: 10px 20px;
  }
}
