.day {
  width: 14.28%;
  display: inline-block;
  overflow: hidden;
  height: 65px;
  box-sizing: border-box;
  margin-top: -6px;
  opacity: 0.6;

  .content {
    background: rgb(243,243,243);
    height: 100%;
    position: relative;
    border: 2px solid white;
    box-sizing: border-box;

    .day-of-month {
      font-size: 12px;
      font-weight: bold;
      position: absolute;
      width: 17px;
      height: 17px;
      padding: 0px;
      margin: 3px;
      border-radius: 17px;
      box-sizing: border-box;
      text-align: center;
    }
  }

  &:hover {
    opacity: 1;
  }

}

.day.first-day {

  &.monday {
    margin-left: 14.28%;
  }

  &.tuesday {
    margin-left: 28.56%;
  }

  &.wednesday {
    margin-left: 42.8%;
  }

  &.thursday {
    margin-left: 57.12%;
  }

  &.friday {
    margin-left: 71.4%;
  }

  &.saturday {
    margin-left: 85.68%;
  }

}


.day.has-note {
  .content {
    // background: #B3E5FC;
    // color: white;

    .day-of-month {
      background: #0288D1;
      color: white;
    }
  }
}

.day.today {
  background: lavender;
}
